.banner {
  height: 55vh;
  background-image: url(../../images/bannerbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-input {
  width: 450px;
  position: relative;
  border-radius: 20px;
  border: none;
  padding: 8px 10px;
}
.banner-input:focus {
  outline: none;
}
.banner-btn {
  position: absolute;
  border-radius: 20px;
  background-color: rgb(216, 9, 9);
  border: none;
  padding: 8px;
  width: 100px;
  left: 62%;
}
